@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.achievements{
    display: flex;
    /* width: 100vw;
    height: 100vh; */
    flex-direction: column;
    background-color: black;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}
.example{
    position:absolute !important;
    left: 0vw; 
}

.title{
   color: white;
   font-family: 'Quicksand', sans-serif;
   font-size: 5vw;
   /* padding: 3vw; */
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2vw;
    justify-content: center;
    align-items: center;
}