@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.bar{
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-weight: bold;
}

.progress{
    padding: 1vw
}